.Navigation
{
	float: left;
	width: 44%;
	margin-right: 28%;
	margin-left: 28%;
	
}

nav a
{	
	font-family: Arial;
	color:#383838;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	margin: 3% 2% 3% 2%;
	padding: 0.8% 4% 0.8% 4%;
	transition: outline-color 0.5s ease;
	outline: 2px solid white;
	font-size: 1vw;
	
	

}